<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<nav>
  <ul>
   <a href="/">Home</a>
    <a href="/list">View Shopping List</a>
    <a href="/addItem">Add Item</a>
    <a href="/deleteItem">Delete Item</a>
  </ul>
</nav>
</body>

