<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/shoppingList">View Shopping List</a></li>
      <li><a href="/addItem">Add Item</a></li>
      <li><a href="/deleteItem">Delete Item</a></li>
    </ul>
  </nav>
  