<%- include('partials/header', { title: title }) %>
<body>
  <h1><%= title %></h1>
  <h2>We are glad you are here</h2>

  <article>
    <header>
      <h3>Welcome to WeBuy</h3>
    </header>
    <p>Current time: <%= dateNow %></p>
    <p>Click to view shopping list</p>
    <a href="/list">View List</a>
  </article>
</body>
</html>
